/* hack.g0v.tw/tag/ */
@import 'nib/vendor'

.about
  width 80%
  max-width 800px
  margin 3rem auto 8rem auto
  h1
    margin 0 0 1rem 0
  h2
    font-size 1.5rem
    margin-top 2rem
    box-shadow #ccc 0 1px 0, #fff 0 2px 0
  h3
    font-size 1rem
  p, ol, ul, li
    line-height 1.5rem
