/**
 * Try to mimic bootstrap behaviors other than responsive design.
 */

.ui.label
  &.default
    color #FFF
    background-color #999
  &.primary
    color #FFF
    background-color #428BCA
  &.success
    color #FFF
    background-color #5CB85C
  &.info
    color #FFF
    background-color #5BC0DE
  &.warning
    color #FFF
    background-color #F0AD4E
  &.danger
    color #FFF
    background-color #D9534F
  // FIXME: label-important becomes label-danger in bootstrap 3
  &.important
    color #FFF
    background-color #D9534F
