/**
 * Try to mimic bootstrap behaviors other than responsive design.
 */

.ui.label
  &.default
    color #FFF !important
    background-color #999 !important
  &.primary
    color #FFF !important
    background-color #428BCA !important
  &.success
    color #FFF !important
    background-color #5CB85C !important
  &.info
    color #FFF !important
    background-color #5BC0DE !important
  &.warning
    color #FFF !important
    background-color #F0AD4E !important
  &.danger
    color #FFF !important
    background-color #D9534F !important
  // FIXME: label-important becomes label-danger in bootstrap 3
  &.important
    color #FFF !important
    background-color #D9534F !important
