.navbar
  margin-bottom: 0px
.brand
  float: right!important
.hackfolder
  display: -webkit-flex
  display: flex

  .link
    width: 100%
    display: block
    img
      width: 16px
      height: 16px
      margin-right: 5px
    &:hover
      background: #eef

  .index
    margin: 54px 10px 10px 0px
    border-right: 1px solid #999
    border-radius: 32px
    cursor: w-resize
    transition: margin-left 0.5s
    -moz-transition: margin-left 0.5s
    -webkit-transition: margin-left 0.5s
    -o-transition: margin-left 0.5s

    &.collapsed
      margin-left: -215px
      cursor: e-resize
      img
        position: absolute
        left: 5px
      li
        margin-right: -20px

    big
      padding-left: 10px

  ul
    width: 216px
    margin-left: 10px
    margin-right: 20px
    li
      list-style: none
      cursor: pointer
      margin: 0
      padding: 2px 5px
      &:first-child
        padding: 5px 0 15px -3px
        margin-top: 5px
        font-weight: 700
      &.active
        background: orange


  .pad-container
    position: relative
    height: 700px
    display: -webkit-flex
    display: flex
    width: 100%
    article

      position: absolute
      top: 44px
      bottom: 0px
      height: 100%
      width: 100%
      overflow: auto
      iframe.embed
        position: absolute
        top: 0px
        bottom: 0px
        height: 100%
        width: 100%
        border: 0

      .docmode
        position: absolute
        top: 0px
        left: 50%
        width: 20%
        margin-left: -10%
        text-align: center
        z-index: 9999
        border-bottom: 1px solid #999
        border-radius: 0px
        border-bottom-left-radius: 15px
        border-bottom-right-radius: 15px
        box-shadow: 0px 2px 16px #f4f4f4
        color: #e98344
        padding: 3px
        cursor: pointer
