@import "nib/clearfix"
@import "nib/vendor"
@import "nib/flex"


.ui.menu > li.dropdown-split-left > a
  padding-right 5px

.ui.menu > li.dropdown-split-right > a
  padding-left 5px
  padding-right 5px

.ui.menu .label
  margin 0 0 -10px 3px
  position relative
  top -2px

body
  margin 0
  font-size 16px
  color #333
  background url(/img/tiles.png)
  @media (max-width: 767px)
    padding-left 0
    padding-right 0
  &.hide-overflow
    overflow hidden
.ui.fixed.inverted.menu
  //margin 0
  margin-bottom 0px
  box-shadow 0px 1px 8px rgba(0,0,0,0.5)
  background-image -webkit-linear-gradient(top,#444,#111)!important
  a.item
    color #ccc!important
    text-shadow 0 0 1px rgba(255,255,255,0.3)
    &:hover
      color #fff!important
      text-shadow 0 0px 16px rgba(128,128,128,1)
      background-color rgba(255,255,255,0.1)
  .container
    width 940px
    margin 0 auto
.ui.menu .build-id
  margin-top 10px
  color hsl(0, 0%, 75%)

/* hide nav labels when window.width < 1200px */
// using .only.desktop now, please see responsive.styl

#brand
  img
    height 38px

.main-content
  position relative
  top 42px
  @media (max-width: 979px)
    top 0px

.hackfolder
  display flex
  width 100%
  a
    text-shadow 0px 0px 2px rgba(32,32,32,0.2)
    color #333
  .index
    @media (max-width: 979px)
      display none
      &.index_show
        display block
    $bar-width = 16px
    $pad = 15px
    $width = 250px
    &,a,li
      color #333
      line-height 25px
    a:hover
      color black
      text-decoration none
    a
      overflow hidden
      display inline-block
      text-overflow ellipsis
      vertical-align middle
      word-wrap break-word
      white-space initial
      padding-right 1em
    a.haschildren
    span.haschildren
      max-width: 85%
      whitespace: no-wrap
      text-overflow ellipsis
      overflow hidden
    background-color white
    border-right 3px solid #888
    cursor w-resize
    font-family "XinGothic Citicpress", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Apple LiGothic", "Heiti TC", "LiHei Pro", "Microsoft YaHei", "微軟正黑體", "文泉驿正黑", sans-serif
    font-size 16px
    overflow-x hidden
    overflow-y auto
    transition .15s
    width $width
    &.collapsed
      cursor e-resize
      margin-left 27px - $width
      .hackid i.small
        margin-right 8px
      img
        margin-top 5px
        position absolute
        right 0
      span.collapser
        display none

    .hackid
      background-color #ddd
      margin-bottom 10px
      padding 15px 15px 10px $pad
      white-space nowrap
      position relative
      i
        margin-top 4px
      i.small
        position absolute
        right: 0
        bottom: 14px
        font-size 16px
        margin-right $pad
        a
          cursor pointer
    &.scrollbar
      width $width + $bar-width

    ul
      margin 0
      padding 0
      li
        list-style none
        padding 0
        position relative
        line-height 1.6
        &.active .link
          background-color #333
          color #eee
        .link
          box-sizing border-box
          cursor pointer
          display inline-block
          left 0
          padding-left $pad
          transition .15s
          width $width
          padding-top 5px
          padding-bottom 5px
          &:hover
            background-color #444
            // padding-left $pad+22px
            color #fff
          img
            width 16px
            height 16px
            margin-right 5px
            vertical-align -2px
          .ui.label
            padding 2px 4px
            margin 0 5px 3px 5px
            font-size 0.666rem
            font-weight 900
            line-height 1rem
        li .link
          padding-left $pad+22px
          &:hover
            // padding-left $pad+44px
        span.collapser
          position absolute
          right $pad
          top 0px
        span.label
          vertical-align text-bottom

  .pad-container
    .ui.menu
      margin 0
      #brand
        @media (max-width: 360px)
          margin-left 10px
    position relative
    background url(/img/ps_neutral.png) #f4f4f4
    flex 20
    article
      @media (max-width: 979px)
        top 43px
      -webkit-overflow-scrolling touch
      position absolute
      top 0
      bottom 0px
      height 100%
      width 100%
      overflow auto
      .noiframe
        position absolute
        top 50%
        margin-top -60px
        text-align center
        width 80%
        left 10%
        .link
          padding 1em
          font-size larger
        &.unsure
          top 60px
          z-index 1000
          background rgba(255,255,255,0.8)
          .icon-close
            cursor pointer

      iframe.embed
        position absolute
        top 0px
        bottom 0px
        height 100%
        width 100%
        border 0

      .docmode
        position absolute
        top 0px
        left 50%
        width 20%
        margin-left -10%
        text-align center
        z-index 99
        background #fff
        border 2px dotted #999
        border-top none
        border-radius 0px
        border-bottom-left-radius 32px
        border-bottom-right-radius 32px
        box-shadow 0 0 16px rgba(0,0,0,0.2)
        color #e98344
        padding 3px
        cursor pointer

.ui.popup
  font-family "XinGothic Citicpress", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Apple LiGothic", "Heiti TC", "LiHei Pro", "Microsoft YaHei", "微軟正黑體", "文泉驿正黑", sans-serif
  font-size 16px
  padding 0.25rem 0.5rem

.hackindex
  article.index-item
    position inherit
    top inherit
    bottom inherit

/* hack.g0v.tw/tag/ */

.tag-content
  ul
    margin-left 0
  li
    border-top 1px #ccc dashed
    clearfix
  .person
    margin-top 0.5rem
    min-height 70px
    img
      float left
      margin-right 1rem
    .name
      font-weight normal
      font-size 1rem

