.navbar
  margin-bottom: 0px
.hackfolder
  display: -webkit-flex
  display: flex
  ul
    margin: 10px 10px 10px 18px
    width: 240px
    border-right: 1px solid #999
    border-radius: 32px
    li:first-child
      margin: 5px 0 15px -3px
      font-weight: 700
    li
      list-style: none
      cursor: pointer

  .pad-container
    position: relative
    height: 700px
    display: -webkit-flex
    display: flex
    width: 100%
    article

      position: absolute
      top: 0px
      bottom: 0px
      height: 100%
      width: 100%
      overflow: auto
      iframe.embed
        position: absolute
        top: 0px
        bottom: 0px
        height: 100%
        width: 100%
        border: 0

      .docmode
        position: absolute
        top: 0px
        left: 50%
        width: 20%
        margin-left: -10%
        text-align: center
        z-index: 9999
        border-bottom: 1px solid #999
        border-radius: 0px
        border-bottom-left-radius: 15px
        border-bottom-right-radius: 15px
        box-shadow: 0px 2px 16px #f4f4f4
        color: #f9b394
        padding: 3px
        cursor: pointer
