.navbar
  margin-bottom: 0px
.hackfolder
  display: -webkit-flex
  display: flex
  ul
    width: 150px
    li
      list-style: none
      cursor: pointer

  .pad-container
    position: relative
    height: 700px
    display: -webkit-flex
    display: flex
    width: 100%
    article

      position: absolute
      top: 0px
      bottom: 0px
      height: 100%
      width: 100%
      overflow: auto
      iframe.embed
        position: absolute
        top: 0px
        bottom: 0px
        height: 100%
        width: 100%
        border: 0

      .docmode
        position: absolute
        top: 0px
        left: 0px
        z-index: 9999
        border: 3px solid gray
        padding: 3px
        cursor: pointer
