.people
  .self
    padding: 10px

  .newtag
    margin-top: 1em
    .tag
      width: 5em
  ul
    li
      position: relative
      list-style: none

      .person
        padding: 5px
        background-color: green
.label
  margin-right: 5px
.person
  margin-bottom: 1em
  img
    margin-right: 5px
.m-top-1
  margin-top: 1em
.m-top-p1
  margin-top: 10px
.p-all-p1
  padding: 10px
.input-append
  .tag
    height: 25px