.people
  width 940px
  margin-left auto
  margin-right auto
  #left-block
    margin-left 0px
  #right-block
    margin-left 0px
    padding-left 0px
  .self
    padding 10px
  .newtag
    margin-top 1em
    .tag
      width 5em
  ul
    li
      position relative
      list-style none
      .person
        padding 5px
#login-block
  .btn-group
    margin-bottom 10px
.label
  margin-right 5px
  margin-bottom 3px
  &.tag
    cursor pointer

.people-list
  border-top 1px dashed rgba(0,0,0,0.3)
  padding-top 10px
  .person
    width 110px
    margin 7px
    &.show-detail
      float left
      display block
      width 100%
      margin 30px 0px
      padding 20px 0
      background rgba(32,32,32,0.1)
      border-radius 20px
      .person-name
        font-family Century Gothic 
        font-size 32px!important
        line-height 64px

.person
  cursor pointer
  margin-bottom 10px
  display inline-block
  text-align center
  .avatar
    position relative
    i
      position absolute
      top 10px
      left 10px
      color orange
      text-shadow 1px 1px 1px white
    &.transparent
      opacity 0

  img
    margin-right 5px
    height 90px
  .person-name
    font-size 11px
  .person-tag
    width 100%
  .person-bio
    margin 10px 0 20px 0
    background rgba(32,32,32,0.2)
    box-shadow 0 3px 1px 0 rgba(0,0,0,0.1)
    padding 30px 0
    text-shadow 0 1px 3px rgba(32,32,32,0.2)
    &.person-bio-empty
      color #999
  .person-contact
    .label
      font-size 14px
      font-weight normal
    .contact-icon
      margin-right 5px
      vertical-align -1px
    .btn
      margin-left 5px
    
.input-append
  .tag
    height 25px
    width 170px
#set-username-input
  width 220px

.services
  a.btn.disabled
    cursor pointer

.form-search
  text-align right
  input
    display inline-block
.taglist
  margin 0 0 15px 0
  padding 0 10px
  display -webkit-flex
  -webkit-flex-wrap wrap
  -webkit-justify-content space-between
  span.label
    -webkit-flex 1 1 auto
    cursor pointer

h4.name
  line-height 1
  margin 0 0 .5em 0
  font-size 16px
  font-weight normal

#bio-input
  width 260px
  height 70px

.tag i
  padding-right 2px
  color black

  &.transparent
    opacity 0

.well
  max-width 400px
  margin 0 auto 10px
.font-se
  font-size smaller
.m-top-1
  margin-top 1em
.m-top-p1
  margin-top 10px
.p-all-p1
  padding 10px
.m-bottom-1
  margin-bottom 10px
.fix-m-left
  margin-left 0px

.tag-cate-list
  padding 0 10px
  margin-bottom 20px

  .label
    font-size 16px
    cursor pointer

.tag-ctae-list__cate
  margin-bottom 20px

.tag-cate-list__cate__label
  width 100%
  margin-bottom 10px

.tag-cate-list__cate__tags
  width 100%
  margin 0

.tag-cate-list__toggle-cate-list
  margin-top 20px
