body.people
  overflow: auto
  max-width: 1000px
  margin: 0 auto
.people
  .self
    padding: 10px

  .newtag
    margin-top: 1em
    .tag
      width: 5em
  ul
    li
      position: relative
      list-style: none

      .person
        padding: 5px
#login-block
  .btn-group
    margin-bottom: 10px
.label
  margin-right: 5px
  &.tag
    cursor: pointer

.people-list
  li 
    border-top: 1px #ccc solid
    padding-top: 0.5rem

.person
  margin-bottom: 1em
  img
    margin-right: 5px
.m-top-1
  margin-top: 1em
.m-top-p1
  margin-top: 10px
.p-all-p1
  padding: 10px
.input-append
  .tag
    height: 25px

.form-search
  text-align: right
  input
    display: inline-block

h4.name
  line-height: 1
  margin: 0 0 .5em 0
  font-size: 16px
  font-weight: normal
