.people
  .self
    padding: 10px
    background-color: red

  ul
    li
      position: relative
      list-style: none
      background-color: white
      
      .person
        padding: 5px
        background-color: green

