#newprj
  input[type="text"], textarea
    width 90%
  label.checkbox
    display inline-block
    margin 3px 13px
  input[type="checkbox"]
    vertical-align middle
  .checkboxs
    margin 10px 10px
  #newprj-uploaded
    display inline-block
    opacity 0
    font-size 14px
    margin 0 20px
  .icon-ok
    color #1b0
