a .icon-hackfoldr
  width: 16px
  height: 16px
  display: inline-block
  background: image-url("/img/hackfoldr.svg")
  background-size: 100% 100%

.no-svg a .icon-hackfoldr
  background: image-url("/img/hackfoldr-16.png")

.projects-title
  margin-top: 10px
  margin-bottom: 10px

.projects-title h1
  display: inline-block
  margin-right: 20px

.projects-title .search-query
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  vertical-align: 10px
  width: 300px

.create-project
  text-align: right

.create-project h2
  display: inline-block
  font-size: 21.28px
  margin-right: 5px

.create-project a
  font-size: 18.4px
  vertical-align: 1.5px

.create-project a i
  margin-right: 7px

.project-not-found
  text-align: center

.project-not-found a
  font-size: 20px

.project-not-found a i
  margin-right: 7px

.projects-loading .loading-indicator
  background: transparent image-url("/img/spin-pacman.gif") no-repeat center center
  min-height: 400px

.featured-loading .loading-indicator
  background: transparent image-url("/img/spin-pacman.gif") no-repeat center center
  min-height: 200px

.mod-project,
.mod-issues
  border: 1px solid #ccc
  margin-bottom: 20px
  background: #fcfcfc

.mod-project
  padding: 20px

.mod-project h2
  margin-top: 0
  font-size: 24px

.mod-project h2 small
  font-size: 17.6px

.mod-project-meta .label
  font-size: inherit
  padding-bottom: 5px
  vertical-align: 1px
  line-height: 13px
  margin-bottom: 0

.mod-project-meta dt,
.mod-project-meta dd
  border-top: 1px solid #ddd
  line-height: 32px

@media (max-width: 767px)
  .mod-project-meta dt,
.mod-project-meta dd
    border-top: none
    line-height: auto

.mod-project-meta dd.inline
  float: left
  margin-left: 0

@media (max-width: 767px)
  .mod-project-meta dd.inline
    float: none

.mod-project-meta dt.inline
  clear: none

@media (max-width: 767px)
  .mod-project-meta dt.inline
    clear: left

.mod-project-meta dt
  width: 140px
  padding-right: 20px

@media (max-width: 767px)
  .mod-project-meta dt
    padding-right: 0

.mod-project-meta dd
  margin-left: 120px

.mod-project-meta .avatar
  width: 20px
  height: 20px

.mod-project-meta .avatar-link
  color: #000

.mod-project-meta .avatar-link:hover
  text-decoration: none

.mod-project-links a
  color: #000

.mod-project-links ul
  list-style: none
  margin: 0

.mod-project-links ul li
  display: inline-block
  margin-right: 16px

.mod-issues
  padding: 10px 20px 0 20px

.mod-issues h2
  margin-top: 0
  font-size: 24px

.mod-issues h2 small
  font-size: 17.6px

.mod-issues .avatar
  width: 20px !important
  height: 20px !important

.mod-issues .issues-filter dl
  margin-bottom: 0 !important

.mod-issues .issues-label-filter
  margin-top: 10px

.mod-issues .issues-label-filter .chosen-container .chosen-choices
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

.mod-issues .issues-label-filter .chosen-container .chosen-drop
  -webkit-border-bottom-left-radius: 5px
  -moz-border-bottom-left-radius: 5px
  border-bottom-left-radius: 5px
  -webkit-border-bottom-right-radius: 5px
  -moz-border-bottom-right-radius: 5px
  border-bottom-right-radius: 5px

.mod-issues .issues-label-filter .chosen-container-active .chosen-choices
  -webkit-border-bottom-left-radius: 0
  -moz-border-bottom-left-radius: 0
  border-bottom-left-radius: 0
  -webkit-border-bottom-right-radius: 0
  -moz-border-bottom-right-radius: 0
  border-bottom-right-radius: 0

.mod-issues .btn-group
  font-size: inherit
  line-height: 36px

.mod-issues .table
  margin-top: 15px

.mod-issues .table td
  padding: 5px 0

.mod-issues .issues-loading .loading-indicator
  background: transparent image-url("/img/spin-pacman.gif") no-repeat center center
  min-height: 100px

.mod-issues .pagination
  margin: auto 0 !important
  margin-top: 10px !important

.mod-issues .pagination a
  cursor: pointer

.mod-issues .checkbox
  display: inline-block
  width: 1em
  margin-right: .5em

.mod-issues .label
  font-family: Helvetica, Arial, sans-serif
  font-size: 12px
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px -1px 0px inset
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0px -1px 0px inset
  box-shadow: rgba(0, 0, 0, 0.125) 0px -1px 0px inset

.mod-issues .label.light
  color: #333333
  text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px !important

.mod-issues .label.dark
  color: #fff
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px


