$baseFontSize: 16px;
$baseLineHeight: 24px;

// icon
a .icon-hackfoldr {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: image-url("/img/hackfoldr.svg");
    background-size: 100% 100%;
    .no-svg & {
        background: image-url("/img/hackfoldr-16.png");
    }
}

.projects-title {
    margin-top: 10px;
    margin-bottom: 10px;
    h1 {
        display: inline-block;
    }
    .search-query {
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
                border-radius: 10px;
        vertical-align: 10px;
        margin-left: 20px;
        width: 300px;
    }
}

.create-project {
    text-align: right;
    h2 {
        display: inline-block;
        font-size: $baseFontSize * 1.33;
    }
    a {
        font-size: $baseFontSize * 1.15;
        vertical-align: 1.5px;
        margin-left: 5px;
        i {
            margin-right: 7px;
        }
    }
}

.mod-project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    h2 {
        margin-top: 0;
        font-size: $baseFontSize * 1.5;
        small {
            font-size: $baseFontSize * 1.1;
        }
    }
}

.mod-project-meta {
    .label {
        font-size: inherit;
        padding-bottom: 5px;
        vertical-align: 1px;
        line-height: 13px;
        margin-bottom: 0;
    }
    dt, dd {
        border-top: 1px solid #ddd;
        line-height: 32px;
        @media (max-width: 767px) {
            border-top: none;
            line-height: auto;
        }
    }
    dd.inline {
        float: left;
        margin-left: 0;
        @media (max-width: 767px) {
            float: none;
        }
    }
    dd.inline-last {

    }
    dt.inline {
        clear: none;
        @media (max-width: 767px) {
            clear: left;
        }
    }

    dt {
        width: 140px;
        padding-right: 20px;
        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
    dd {
        margin-left: 120px;
    }
    .avatar {
        width: 20px;
        height: 20px;
    }
    .avatar-link {
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
}

.mod-project-links {
    a {
        color: #000;
    }
    ul {
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            margin-right: 16px;
        }
    }
}

.mod-issues {
    border: 1px solid #ccc;
    padding: 10px 20px 0 20px;
    margin-bottom: 20px;
    h2 {
        margin-top: 0;
        font-size: $baseFontSize * 1.5;
        small {
            font-size: $baseFontSize * 1.1;
        }
    }
    .avatar {
        width: 20px !important;
        height: 20px !important;
    }
    .issues-filter {
        dl {
            margin-bottom: 0 !important;
        }
    }
    .issues-label-filter {
        margin-top: 10px;
        .chosen-container {
            .chosen-choices {
                -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                        border-radius: 5px;
            }
            .chosen-drop {
                -webkit-border-bottom-left-radius: 5px;
                   -moz-border-bottom-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                -webkit-border-bottom-right-radius: 5px;
                   -moz-border-bottom-right-radius: 5px;
                        border-bottom-right-radius: 5px;
            }
        }
        .chosen-container-active {
            .chosen-choices {
                -webkit-border-bottom-left-radius: 0;
                   -moz-border-bottom-left-radius: 0;
                        border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                   -moz-border-bottom-right-radius: 0;
                        border-bottom-right-radius: 0;
            }
        }
    }
    .btn-group {
        font-size: inherit;
        line-height: 36px;
    }
    .table {
        margin-top: 15px;
        td {
            padding: 5px 0;
        }
    }
    .issues-loading {
        .loading-indicator {
            background: transparent image-url("/img/spin-pacman.gif") no-repeat center center;
            min-height: 100px;
        }
    }
    .pagination {
        margin: auto 0 !important;
        margin-top: 10px !important;
        a {
            cursor: pointer;
        }
    }
    .checkbox {
        display: inline-block;
        width: 1em;
        margin-right: .5em;
    }
}

