/**
 * Try to mimic responsive behaviors in bootstrap.
 */

// Large desktop
@media (min-width: 1200px)
  // .visible will be conflict with .ui.label.visible
  .only
    &.phone
      display none!important
    &.tablet
      display none!important
  .never
    &.desktop
      display none!important

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px)
  .only
    &.phone
      display none!important
    &.desktop
      display none!important
  .never
    &.tablet
      display none!important

// Landscape phone to portrait tablet
@media (max-width: 767px)
  .only
    &.tablet
      display none!important
    &.desktop
      display none!important
  .never
    &.phone
      display none!important

// Landscape phones and down
//@media (max-width: 480px)
