
<div ng-controller="HackFolderCtrl" resize="resize" class="hackfolder">
  <div ng-click="toggleIndex()" class="index">
    <big>
       
      &#xbb; <a ng-href="http://ethercalc.org/{{hackId}}" target="_blank" class="indexlink">{{hackId}} </a>&#xab;  
    </big><small><a ng-click="reload(hackId)" class="reload">&#x21BA;</a></small>
    <ul ui-sortable="sortableOptions" ng-model="docs">
      <li ng-repeat="doc in docs" style="margin: 0; padding: 2px 5px;"><a ng-href="/#/{{hackId}}/{{doc.id}}" ng-class="{{doc.type}}" class="link"><img ng-src="{{doc.icon}}"/> {{doc.title || doc.id}}</a></li>
    </ul>
  </div>
  <div ng-style="{height: height-49}" class="pad-container">
    <article ng-repeat="(key, iframe) in iframes" ng-show="docId == key" class="pad"><span ng-show="hasViewMode(iframe.doc.type) &amp;&amp; iframe.mode != 'edit'" ng-click="activate(iframe.doc.id, true)" class="docmode">edit</span>
      <iframe ng-src="{{iframe.src}}" class="embed"></iframe>
    </article>
  </div>
</div>