.about
    h1 Welcome to Hackfoldr
    p Hackfoldr 是你的黑客公事包，用一個網址就可以和夥伴們分享所有的專案文件！ :D
    h2 為你的專案製作 hackfoldr
    h3 建立 hackfoldr
    ol
        li 想好專案英文網址名稱（例如：your-project-name）
        li 在瀏覽器網址列輸入「hackfoldr.org/(你的專案的英文網址名稱)」
    p 恭喜！你已經建立自己的 hackfoldr 了！
    h3 自訂 hackfoldr
    ol
        li 點左上 home 圖案旁文字連結，會自動在新分頁打開 ethercalc
        li 在 B2 格子中輸入本 hackfoldr 名稱（通常是中文）
        li 接著從第3行開始，可以增加你想收集的網址
        li 輸入格式為：在 B3 中輸入第一份文件名稱，A3 格子中輸入第一份文件網址
        li 以此類推，把所有文件的顯示名稱和網址都輸入進去
        li 切回「hackfoldr.org/(你的專案的英文網址名稱)」這個瀏覽器分頁
        li 按 F5 / Ctrl + R 重新整理頁面
    p 恭喜！你已經打造出屬於自己的 hackfoldr 了！
    h3 hackfoldr 進階用法
    ol
        li 第3欄的格子為參數設定，常用的有：'{"expand":true} 為資料夾預設展開、false為關；'{"target":"_blank"} 為此連結開啟新視窗
        li 第4欄的格子為註解，主要有三種型別：warning、important、issue，打法為 '註解:型別
        li 第1欄的格子網址多空一格會成為子目錄，例：A3為'www.example.com，A4為' www.google.com，則A3變為資料夾，A4為A3子目錄
    p 註：使用 ethercalc 不需登入，編輯後即自動存檔。如果想修改 ethercalc 試算表的名稱，直接開新的 etherclac.org 網址後，將舊試算表的內容剪貼過來即可。
    h3 hackfoldr
    p hackfoldr 是 clkao 為了 g0v 黑客松活動而開發的開源專案，原始碼也在
        a(href="https://github.com/hackfoldr/hackfoldr") github
