.about
	h1 Welcome to g0v Hackfoldr
	p g0v hackfoldr 是你的黑客公事包，用一個網址就可以和夥伴們分享所有的專案文件！ :D
	h2 為你的 g0v 專案製作 hackfoldr
	h3 建立 hackfoldr
	ol
		li 想好專案英文網址名稱（例如：g0v.tw-hackfoldr）
		li 在瀏覽器網址列輸入「hack.g0v.tw/(你的專案的英文網址名稱)」
	p 恭喜！你已經建立自己的 hackfoldr 了！
	h3 自訂 hackfoldr
	ol
		li 點左上 home 圖案旁文字連結，會自動在新分頁打開 ethercalc
		li 在 B2 格子中輸入本 hackfoldr 名稱（通常是中文）
		li 接著從第3行開始，可以增加你想收集的網址
		li 輸入格式為：在 B3 中輸入第一份文件名稱，A3 格子中輸入第一份文件網址
		li 以此類推，把所有文件的顯示名稱和網址都輸入進去
		li 切回「hack.g0v.tw/(你的專案的英文網址名稱)」這個瀏覽器分頁
		li 按 home 圖示旁的 ↺ 按鈕，或者 F5 / Ctrl + R 重新整理頁面 
	p 恭喜！你已經打造出屬於自己的 hackfoldr 了！
	h3 hackfoldr 進階用法
	ol 
	   	li 第3欄的格子為參數設定，常用的有："expand":true 為資料夾預設展開、false為關；"target":"_blank" 為此連結開啟新視窗
		li 第4欄的格子為註解，主要有三種型別：warning、important、issue，打法為 註解:型別
	   	li 第1欄的格子網址多空一格會成為子目錄，例：A3為'www.example.com，A4為' www.google.com，則A3變為資料夾，A4為A3子目錄
	p 註：使用 ethercalc 不需登入，編輯後即自動存檔。如果想修改 ethercalc 試算表的名稱，直接開新的 etherclac.org 網址後，將舊試算表的內容剪貼過來即可。
	h3 最後...
	ol
		li 到該次黑客松的相關文件中，分享你的 hackfoldr 網址
		li start social hacking! :D
	h2 關於
	h3 g0v hackfoldr
	p g0v hackfoldr 是經過客製的 hackfoldr，它能夠：
	ul
		li 囊括相關網址
			ul
				li 把參加 g0v 黑客松所需的連結，整合在導覽列中，讓你隨時取用
				li 用 etherclac.org 試算表，設定你的文件清單
		li 預覽文件
			ul
				li 在預覽窗格中直接打開 hackpad 或 google docs
				li 打開 google docs 時預設為非編輯模式，避免編輯者過多時產生的問題
				li 點擊文件清單的空白處或邊緣，可以收合側邊欄，擁有更多空間 
		li 登錄自己
			ul
				li Hub 簽到處可以用現成的 Github / Twitter / Facebook 帳號登入 g0v，或者也可以用 email 登入 g0v
				li 登入後別忘了替自己貼標籤，讓大家知道什麼樣的專案可以找上你
				li 如果打算參加某次黑客松，記得加上當次黑客松的標籤（例如：「hackath3n」），讓大家知道你會出現，實體或遠距都可以
		li 與同好交流
			ul
				li 在黑客列表右上方的搜尋框輸入關鍵字，即可馬上找到趣味相投的人
				li 點選任一個標籤，除了可以列出擁有同樣標籤的人之外，同時可以進入該標籤的 disqus 討論區，和同好們交流意見
	p g0v hackfoldr 當然也是開源專案，原始碼在 
		a(href="https://github.com/g0v/hack.g0v.tw") github
	h3 hackfoldr
	p hackfoldr 是 clkao 為了 g0v 黑客松活動而開發的開源專案，原始碼也在 
		a(href="https://github.com/hackfoldr/hackfoldr") github
