span.link(ng-if="doc.type == 'dummy'",ng-click='doc.expand=!doc.expand', ng-class="{haschildren: doc.children}")
  img(src="/img/folder.png", ngx-tooltip, title="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}")
  span.expanded-content {{doc.title || doc.id}}
a.link(ng-click='godoc(doc)',ngx-click-meta='open(doc)',ngx-final,ng-if="doc.type != 'dummy'", ng-class="{haschildren: doc.children}")
  img(ng-src="{{doc.icon}}", ngx-tooltip, title="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}")
  span.expanded-content {{doc.title || doc.id}}
  span.expanded-content(ng-show='doc.tagFilter') [{{doc.tagFilter}}]
  span.ui.label.only.desktop(ng-repeat='tag in doc.tags',class="{{tag.class}}") {{tag.content}}
span.collapser(ng-if='doc.children',ng-class='{collapsed: !doc.expand}',ng-click='doc.expand=!doc.expand',title="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}") {{ {"true": "&#x25B8;", "false": "&#x25BE;"}[!doc.expand] }}
