.hackindex
  .search-label Search:
  input(ng-model='indexSearch',placeholder="搜尋關鍵字..")
  article.index-item(ng-repeat='doc in (indexDocs || docs) | filter:indexSearch')
    h2.title {{doc.title || doc.id}}
    p.summary {{ doc.summary }}
