.hackfolder(resize,ng-cloak)
    .index(ng-class="{collapsed: collapsed}", ng-click="collapsed=!collapsed",ng-style='{height: contentHeight}')
      div.hackid
        i.icon-home
        &nbsp;
        a.indexlink.expanded-content(ng-href="http://ethercalc.org/{{hackId}}",target="_blank",ngx-final) {{HackFolder.folderTitle || hackId}} 
        small: a.reload(ng-click="reload(hackId)",ngx-noclick) &#x21BA;
      ul.wrap(ui-sortable='sortableOptions',ng-model='tree')
        li(ng-repeat='doc in tree', ng-title="{{doc.title || doc.id}}",ngx-noclick,ng-class='{active: doc.id == docId}')
          .entry(ng-include="'/partials/hackitem.html'")
          ul(ng-show='doc.children && doc.expand',ui-sortable='sortableOptions',ng-model='doc.children',ng-animate="'fade'")
            li(ng-repeat='doc in doc.children', ng-title="{{doc.title || doc.id}}",ngx-noclick,ng-class='{active: doc.id == docId}')
              .entry(ng-include="'/partials/hackitem.html'")
    .pad-container(ng-style='{height: contentHeight}')
      article.pad(ng-repeat='(key, iframe) in iframes',ng-show='docId == key')
        span.docmode(ng-show="hasViewMode(iframe.doc.type) && iframe.mode != 'edit'",ng-click="activate(iframe.doc.id, true)") edit
        .noiframe.unsure(ui-if="iframe.doc.iframeunsure") Click the link below to open the link in a new window: 
          br
          span.link
            img(ng-src="{{iframe.doc.icon}}",title="{{iframe.doc.title || iframe.doc.id}}")
            a(ng-href="{{iframe.src}}",target="{{iframe.doc.id}}") {{iframe.src}}
          .icon.icon-close(ng-click='iframe.doc.iframeunsure = false') &#x274c;
        .noiframe(ui-if="iframe.doc.noiframe") It looks like this site blocks embedding.  Click the link below to open it in a new window: 
          br
          span.link
            img(ng-src="{{iframe.doc.icon}}",title="{{iframe.doc.title || iframe.doc.id}}")
            a(ng-href="{{iframe.src}}",target="{{iframe.doc.id}}") {{iframe.src}}
        iframe.embed(ng-show='!iframe.doc.noiframe',ng-src='{{iframe.src}}',ngx-iframe="iframeCallback(iframe.doc)")
