span.link(ui-if="doc.type == 'dummy'",ng-click='doc.expand=!doc.expand')
  img(src="/img/folder.png",tooltip="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}",tooltip-placement="right",tooltip-trigger="hover",title="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}")
  span.expanded-content {{doc.title || doc.id}}
a.link(ng-click='godoc(doc)',ngx-click-meta='open(doc)',ngx-final,ui-if="doc.type != 'dummy'")
  img(ng-src="{{doc.icon}}",tooltip="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}",tooltip-placement="right",tooltip-trigger="hover",title="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}")
  span.expanded-content {{doc.title || doc.id}}
  span.label(ng-repeat='tag in doc.tags',class="label-{{tag.class}}") {{tag.content}}
span.collapser(ui-if='doc.children',ng-class='{collapsed: !doc.expand}',ng-click='doc.expand=!doc.expand',title="{{ {'true': (doc.title || doc.id), 'false': ''}[!!collapsed] }}") {{ {"true": "&#x25B8;", "false": "&#x25BE;"}[!doc.expand] }}
