nav#sidebar
  nav#nav.desktop.only
    .ui.borderless.menu
      //-.ui.dropdown.icon.item.shortcuts
        i.icon.home
        include shortcuts-menu
      .ui.dropdown.icon.item.history
        i.icon.time
        .menu
          .item.no.data.hidden 您還沒有瀏覽 foldr 的紀錄
      .ui.dropdown.icon.item.about
        i.icon.help
        .menu
          a.link.item(href="https://g0v.hackpad.com/welcome_to_hackfoldr#Welcome-to-Hackfoldr",target="iframe") 使用說明
            i.icon.text.file.outline
          a.foldr.item(href="/welcome-to-hackfoldr") 開發與回報
            i.icon.exchange
          a.link.item(href="https://github.com/hackfoldr/maker.moztw.org",target="_blank") 程式碼
            i.icon.github
      a.right.item.expand.button.collapsed.mode.hidden.desktop.only
        i.icon.arrow.right
      a.right.item.collapse.button.expanded.mode.desktop.only
        i.icon.arrow.left
      .right.icon.item.zoom.ui.dropdown
        i.icon.zoom.in
        .menu
          .item.normal 100%
          .item.large 130%
          .item.larger 150%

  nav#topbar
    .ui.borderless.menu
      a.item.foldr.title {{HackFolder.folderTitle || hackId}}
      //-.ui.dropdown.icon.item.shortcuts.tablet.only
        i.icon.home
        include shortcuts-menu
      .ui.dropdown.icon.item.history.tablet.only
        i.icon.time
        .menu
          .item.no.data.hidden 您還沒有瀏覽 foldr 的紀錄
      .ui.dropdown.icon.item.about.tablet.only
        i.icon.help
        .menu
          a.link.item(href="https://g0v.hackpad.com/welcome_to_hackfoldr#Welcome-to-Hackfoldr",target="iframe") 使用說明
            i.icon.text.file.outline
          a.foldr.item(href="/welcome-to-hackfoldr") 開發與回報
            i.icon.exchange
          a.link.item(href="https://github.com/hackfoldr/hackfoldr",target="_blank") 程式碼
            i.icon.github
      a.right.item.show.nav.button.collapsed.mode.mobile.only
        i.icon.arrow.down
      //a.right.item.hide.nav.button.expanded.mode.hidden.mobile.only
        i.icon.arrow.up
      //.right.ui.dropdown.icon.item.meta.phone.only
        i.icon.ellipsis.vertical
        .menu
          a.item.edit.table.tiny.only(target="iframe") 編輯
            i.icon.pencil
          a.item.refresh.table.tiny.only.hidden 更新
            i.icon.repeat
          //-.item.shortcuts 捷徑
            i.icon.home
            include shortcuts-menu
          .item.history 紀錄
            i.icon.time
            .menu
              .item.no.data.hidden 您還沒有瀏覽 foldr 的紀錄
          .item.about 說明
            i.icon.help
            .menu
              a.link.item(href="https://g0v.hackpad.com/welcome_to_hackfoldr#Welcome-to-Hackfoldr",target="iframe") 使用說明
                i.icon.text.file.outline
              a.foldr.item(href="/welcome-to-hackfoldr") 開發與回報
                i.icon.exchange
              a.link.item(href="https://github.com/hackfoldr/maker.moztw.org",target="_blank") 程式碼
                i.icon.github
      .right.icon.item.zoom.ui.dropdown.tablet.only
        i.icon.zoom.in
        .menu
          .item.normal 100%
          .item.large 130%
          .item.larger 150%
      a.right.icon.item.edit.table(target="iframe")
        i.icon.pencil
      a.right.icon.item.refresh.table.hidden
        i.icon.repeat
      a.right.icon.item.add.to.list.hidden
        i.icon.add
    //form.ui.form.segment.no.margin.hidden.expanded.mode
      .field
        input.new.title(placeholder="想顯示在 foldr 中的文件名稱",type="text",name="new-pad-name",value="我是可愛的新文件")
      //-.field
        input.new.url(placeholder="想使用的 hackpad ID",type="text",name="new-pad-id",value="new-pad-id_such-as_123g0v")
      //-.inline.field
        input.new.instance(placeholder="hackpad 站台名稱",type="text",name="new-pad-instance",value="g0v",size="10")
        | .hackpad.com
      .ui.submit.button.green.small create and add to foldr
    .sortable.index(ng-include="'partials/hack-index.html'")

#wrapper.hackfolder

  .pad-container.frame(ng-include="'partials/pad-container.html'",xng-style='{height: contentHeight}')
