.hackfolder(resize,ng-cloak)
    .index(ng-class="{collapsed: collapsed}", ng-click="collapsed=!collapsed",ng-style='{height: height-49}')
      div.hackid
        i.icon-home
        &nbsp;
        a.indexlink.expanded-content(ng-href="http://ethercalc.org/{{hackId}}",target="_blank",ngx-final) {{HackFolder.folderTitle || hackId}} 
        small: a.reload(ng-click="reload(hackId)",ngx-noclick) &#x21BA;
      ul(ui-sortable='sortableOptions', ng-model='tree')
        li(ng-repeat='doc in tree', ng-title="{{doc.title || doc.id}}",ngx-noclick,ng-class='{active: doc.id == docId}')
          .entry
            span(ui-if="doc.type == 'dummy'")
              span.expanded-content {{doc.title || doc.id}}
            a.link(ng-href='/#/{{hackId}}/{{doc.id}}',ngx-final,ui-if="doc.type != 'dummy'")
              img(ng-src="{{doc.icon}}",title="{{doc.title || doc.id}}")
              span.expanded-content {{doc.title || doc.id}}
            span.label(ng-repeat='tag in doc.tags',class="label-{{tag.class}}") {{tag.content}}
            span.collapser(ui-if='doc.children',ng-class='{collapsed: !doc.expand}',ng-click='doc.expand=!doc.expand') {{ {"true": "&#x25B8;", "false": "&#x25BE;"}[!doc.expand] }}
          ul(ui-if='doc.children && doc.expand',ui-sortable='sortableOptions', ng-model='doc.children')
            li(ng-repeat='doc in doc.children', ng-title="{{doc.title || doc.id}}",ngx-noclick,ng-class='{active: doc.id == docId}',ng-animate="'folder'")
              .entry
                  span(ui-if="doc.type == 'dummy'")
                    span.expanded-content {{doc.title || doc.id}}
                  a.link(ng-href='/#/{{hackId}}/{{doc.id}}',ngx-final,ui-if="doc.type != 'dummy'")
                    img(ng-src="{{doc.icon}}",title="{{doc.title || doc.id}}")
                    span.expanded-content {{doc.title || doc.id}}
                  span.label(ng-repeat='tag in doc.tags',class="label-{{tag.class}}") {{tag.content}}
    .pad-container(ng-style='{height: height-49}')
      article.pad(ng-repeat='(key, iframe) in iframes',ng-show='docId == key')
        span.docmode(ng-show="hasViewMode(iframe.doc.type) && iframe.mode != 'edit'",ng-click="activate(iframe.doc.id, true)") edit
        .noiframe.unsure(ui-if="iframe.doc.iframeunsure") Open the link in new window: 
          br
          span.link
            img(ng-src="{{iframe.doc.icon}}",title="{{iframe.doc.title || iframe.doc.id}}")
            a(ng-href="{{iframe.src}}",target="{{iframe.doc.id}}") {{iframe.src}}
          .icon.icon-close(ng-click='iframe.doc.iframeunsure = false') &#x274c;
        .noiframe(ui-if="iframe.doc.noiframe") This site does not appear to allow iframe.  Open the link in new window: 
          br
          span.link
            img(ng-src="{{iframe.doc.icon}}",title="{{iframe.doc.title || iframe.doc.id}}")
            a(ng-href="{{iframe.src}}",target="{{iframe.doc.id}}") {{iframe.src}}
        iframe.embed(ng-show='!iframe.doc.noiframe',ng-src='{{iframe.src}}',ngx-iframe="iframeCallback(iframe.doc)")
