ul.wrap(ui-sortable='sortableOptions',ng-model='tree')
  li(ng-repeat='doc in tree', ng-title="{{doc.title || doc.id}}",ngx-noclick,ng-class='{active: doc.id == docId}')
    .entry(ng-include="'partials/hackitem.html'")
    ul(ng-show='doc.children && doc.expand',ui-sortable='sortableOptions',ng-model='doc.children',ng-animate="'fade'")
      li(ng-repeat='doc in doc.children | filter:doc.tagFilter:tags', ng-title="{{doc.title || doc.id}}",ngx-noclick,ng-class='{active: doc.id == docId}')
        .entry(ng-include="'partials/hackitem.html'")
