.hackfolder(resize,ng-cloak)
  .index(ui-view="hack-index",ng-class="{collapsed: collapsed, scrollbar: hasScrollbar, index_show: sidebar}",ng-click="collapsed=!collapsed",ng-style='{height: contentHeight}',scrollbar)
  .pad-container(ui-view="pad-container",ng-style='{height: contentHeight}')
