.hackfolder(resize,ng-cloak)
  .index(ng-include="'partials/hack-index.html'",ng-class="{collapsed: collapsed, scrollbar: hasScrollbar, index_show: sidebar}",ng-click="collapsed=!collapsed",ng-style='{height: contentHeight}',scrollbar)
  .pad-container(ng-include="'partials/pad-container.html'",ng-style='{height: contentHeight}')
