iframe(ng-if="ircEnabled",ng-show="$state.current.name == 'irc'",ng-src="https://kiwiirc.com/client/irc.freenode.net/#g0v.tw")
iframe(ng-if="irclogEnabled",ng-show="$state.current.name == 'irc.log'",ng-src="http://logbot.g0v.tw/channel/g0v.tw/today")
