iframe(ui-if="ircEnabled",ng-show="$state.current.name == 'irc'",ng-src="https://kiwiirc.com/client/irc.freenode.net/?&theme=cli#g0v.tw")
iframe(ui-if="irclogEnabled",ng-show="$state.current.name == 'irc.log'",ng-src="http://logbot.g0v.tw/channel/g0v.tw/today")
