ul.nav
  li
    a(ng-href='/') Home

ul.nav.pull-right
  li(ng-class="{ active: $state.includes('about') }")
    a(target='_blank', href='http://g0v.asia/')
      img(src='http://g0v.asia/img/g0v-icon-invert.png', style='height: 24px !important')
