ul.nav
  li
    a(ng-href='/') 首頁

ul.nav.pull-right
  li(ng-class="{ active: $state.includes('about') }")
    a(ng-href='https://www.newschallenge.org/challenge/2014/submissions/hackfoldr-community-collaboration-organized') About
