ul.nav
  li
    a(ng-href='/') 首頁
  li
    a(target="_blank",href='http://g0v.github.io/g0vis/')
      | 專案列表
      span.label.label-important new
  li
    a(target="_blank",href='http://g0v.github.io/leve1up/')
      | 新手上路

ul.nav.pull-right
  li(ng-class="{ active: $state.includes('about') }")
    a(ng-href='https://www.newschallenge.org/challenge/2014/submissions/hackfoldr-community-collaboration-organized') About
