.row-fluid.people.people-layout(ng-cloak)
  .span4#left-block
    .self(ng-show='user')
      h2.displayName {{user.displayName}}
      //.name {{user.username}}
      img.img-polaroid.m-top-1(ng-src="{{ user.avatar }}?size=large", width=210)
      form.m-top-1
        fieldset
          label 關鍵字
          span.label.tag(ng-repeat="tag in user.tags", ng-click="gotag(tag)", ng-mouseenter="toremove=1", ng-mouseleave="toremove=0")
            | {{tag}}
            a(ng-show="toremove", ng-click="remove_tag(user, tag)")
              i.icon-remove
          .input-append.m-top-p1
            input.tag(ng-model="newtag")
            button.btn(type="submit", ng-click="add_tag(user)") 新增關鍵字
          label 自我介紹
          textarea#bio-input(ng-model='user.bio')
      h4 連結帳號
      ul.services.unstyled
        li.m-bottom-1(ng-repeat="provider in ['facebook', 'twitter', 'github']")
          a.btn.btn-block.btn-primary.disabled(ng-href="http://{{provider}}.com/{{user.auth[provider].username}}", ng-show="user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{user.auth[provider].username}}
          a.btn.btn-block(ng-click="loginAndLink(provider)", ng-show="!user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{provider}}

    .set-username.m-top-1(ng-show='toSetUsername')
      h4 設定 G0V 使用者名稱
      form.m-top-1
        fieldset
          .input-append
            input#set-username-input(ng-model="newUsername")
            button.btn(type="submit", ng-click="setUsername(newUsername)") 設定
      .alert.alert-error(ng-show='usernameInUse')
        |已有 G0V 成員使用此名稱，請選擇其他使用者名稱
        ul
          li(ng-repeat="(provider, auth) in usernameInUse.auth")
            a.btn(ng-click="loginAndMerge(provider)")
              i(class="icon-{{provider}}")
              | &nbsp; {{provider}}:{{auth.username}}

    #login-block.p-all-p1(ng-show='!user && !toSetUsername')
      h3 登入 G0V
      .well
        button.btn.btn-block(type="button", ng-click="auth.login('facebook', { rememberMe: true, scope: 'email, user_likes' })")
          i.icon-facebook.icon-large
          | &nbsp; 使用 facebook 登入
        button.btn.btn-block(type="button", ng-click="auth.login('github', { rememberMe: true })")
          i.icon-github.icon-large
          | &nbsp; 使用 github 登入
        button.btn.btn-block(type="button", ng-click="auth.login('persona', { rememberMe: true })")
          i.icon-envelope.icon-large
          | &nbsp; 使用 Email 登入

    #logout-block.p-all-p1(ng-show='user || toSetUsername')
      p
        button.btn.btn-block#logout-link(ng-click="auth.logout()") 登出 G0V

  .span8.p-all-p1#right-block
    form.form-search
      .m-top-1
      input.search-query(ng-model="search", placeholder="搜尋關鍵字或人名…")

    .tag-cate-list
      .tag-ctae-list__cate(ng-repeat="cate in tagCategorizations")
        .tag-cate-list__cate__label
          a(ng-class="['btn', cate.class]")
            | {{ cate.name }}
        .tag-cate-list__cate__tags.row
          span.label(ng-repeat="tag in cate.tags")
            span.tag(ng-click="$parent.$parent.search = tag", ng-mouseenter="toadd=1", ng-mouseleave="toadd=0")
              i.icon-plus(ng-class="{transparent: !toadd}", ng-click="add_tag(user, tag)", ngx-final)
              | {{tag}}
              span.badge.badge-info.font-se {{ tagcloudMap[tag] }}

      div
        a.tag-cate-list__toggle-cate-list.btn.btn-danger(ng-click="displayTagList = !displayTagList")
          | 顯示所有標籤
    
    .taglist.row(ng-show="displayTagList")
      span.label(ng-repeat="entry in tagcloud")
        span.tag(ng-click="$parent.search = entry.tag", ng-mouseenter="toadd=1", ng-mouseleave="toadd=0")
          i.icon-plus(ng-class="{transparent: !toadd}", ng-click="add_tag(user, entry.tag)", ngx-final)
          | {{entry.tag}}
          span.badge.badge-info.font-se {{entry.count}}
      span(style="-webkit-flex:100 1 auto") &nbsp;
    div.people-list
      .person(class="ng-class:{{person.status}};", ng-class="{'show-detail': showPerson == person}", ng-repeat="person in filteredpeople | filter:search", ng-click="togglePerson(person)")
        .avatar(ng-mouseenter="tofollow=1", ng-mouseleave="tofollow=0")
          img.img-polaroid(ng-src="{{person.avatar}}?size=medium")
          i.icon-star-empty(ng-show="followlist[person.$id]", ng-click="unfollow_person(person.$id)", ngx-final)
          i.icon-star(ng-show="followlist[person.$id] || tofollow", ng-click="follow_person(person.$id)", ngx-final)

        .person-name(style="font-size:13px;") {{person.$id}}
        .person-detail(ng-show="person == showPerson")
          .person-tag
            span.label.tag(ng-repeat="tag in person.tags", ng-class="{ 'label-success': tag == 'hackath3n' }", ng-click="gotag(tag)") {{tag}}
          .person-bio(ng-class="{'person-bio-empty': !person.bio}") {{person.bio || "( 尚未填好自我介紹 )"}}
          .person-contact
            span.label.label-info 聯絡資訊
            a.btn(ng-repeat="provider in ['facebook', 'twitter', 'github']", ng-show='person.auth[provider]', ng-href="http://{{provider}}.com/{{person.auth[provider].username || person.auth[provider].id}}", target="_blank")
              i.contact-icon.icon-large(class="icon-{{provider}}")
              |{{person.auth[provider].username || provider.charAt(0).toUpperCase() + provider.slice(1)}}
