.row
  .span4.people(resize,ng-cloak)
    .self(ng-show='user')
      h2.displayName {{user.displayName}}
      .name {{user.username}}
      img(ng-src="{{ user.avatar }}")
      label 關鍵字
      span.label(ng-repeat="tag in user.tags",ng-mouseenter="toremove=1",ng-mouseleave="toremove=0")
        | {{tag}}
        a(ng-show="toremove",ng-click="remove_tag(user, tag)")
          i.icon-remove
      form.newtag
        input.tag(ng-model="newtag")
        input(type="submit",ng-click="add_tag(user)",value="add")
      label 自我介紹
      textarea(ng-model='user.bio')
      ul.services
        li(ng-repeat="provider in ['facebook', 'twitter', 'github']")
          a(ng-href="http://{{provider}}.com/{{user.auth[provider].username}}",ng-show="user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{user.auth[provider].username}}
          a.btn(ng-click="loginAndLink(provider)",ng-show="!user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{provider}}




    .set-username(ng-show='toSetUsername')
      h2 Choose a username:
      form
        input(ng-model="newUsername")
        input(type="submit",ng-click="setUsername(newUsername)",value="Set")
      .alert.alert-error(ng-show='usernameInUse')
        username already in use, choose another one or merge using authenticated service:
        ui
          li(ng-repeat="(provider, auth) in usernameInUse.auth")
            a.btn(ng-click="loginAndMerge(provider)")
              i(class="icon-{{provider}}")
              | &nbsp; {{provider}}:{{auth.username}}


    #login-block(ng-show='!user && !toSetUsername')
      h2 Login
      a.btn#facebook-login-link(ng-click="auth.login('facebook', { rememberMe: true, scope: 'email,user_likes' })")
        i.icon-facebook.icon-large
        | &nbsp; facebook
      a.btn#twitter-login-link(ng-click="auth.login('twitter', { rememberMe: true })")
        i.icon-twitter.icon-large
        | &nbsp; twitter
      a.btn#github-login-link(ng-click="auth.login('github', { rememberMe: true, scope: 'user,gist'})")
        i.icon-github.icon-large
        | &nbsp; github
    #logout-block(ng-show='user || toSetUsername')
      h2 logout option
      p
        span#login-user-info
        a.btn#logout-link(ng-click="auth.logout()") logout
  .span8
    form.form-search
      input.search-query(ng-model="search")
    ul
      li(ng-repeat="person in people | filter:search")
        .person(ng-class="{{person.status}}")
          .name {{person.$id}}
          img(ng-src="http://avatars.io/twitter/{{person.twitter}}")
          span.label.tag(ng-repeat="tag in person.tags") {{tag}}
