.people(resize,ng-cloak)
  .search
    input(ng-model="search")
  ul
    li(ng-repeat="person in people | filter:search")
      .person(ng-class="{{person.status}}")
        img(ng-src="http://avatars.io/twitter/{{person.twitter}}")
        .name {{name}}
        span.label(ng-repeat="tag in person.tags") {{tag}}
        input(type="text",ng-model="newtag")
        span.label(ng-click="add_tag(person,newtag)") add
