.people(resize,ng-cloak)
  ul
    li(ng-repeat="person in people")
      .person
        img(ng-src="http://avatars.io/twitter/{{person.twitter}}")
        .name {{name}}
        span.label(ng-repeat="tag in person.tags") {{tag}}
