.row.people(style="width:940px;margin-left:auto;margin-right:auto;",ng-cloak)
  .span4(style="margin-left:0px;")
    .self(ng-show='user')
      h2.displayName {{user.displayName}}
      //.name {{user.username}}
      img.img-polaroid.m-top-1(ng-src="{{ user.avatar }}?size=large",width=210)
      form.m-top-1
        fieldset
          label 關鍵字
          span.label.tag(ng-repeat="tag in user.tags",ng-click="gotag(tag)",ng-mouseenter="toremove=1",ng-mouseleave="toremove=0")
            | {{tag}}
            a(ng-show="toremove",ng-click="remove_tag(user, tag)")
              i.icon-remove
          .input-append.m-top-p1
            input.tag(style="width:170px;",ng-model="newtag")
            button.btn(type="submit",ng-click="add_tag(user)") 新增關鍵字
          label 自我介紹
          textarea(style="width:260px;height:70px;",ng-model='user.bio')
      h4 連結帳號
      ul.services.unstyled
        li(style="margin-bottom:5px;", ng-repeat="provider in ['facebook', 'twitter', 'github']")
          a.btn.btn-block.btn-primary.disabled(style="cursor:pointer;", ng-href="http://{{provider}}.com/{{user.auth[provider].username}}",ng-show="user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{user.auth[provider].username}}
          a.btn.btn-block(ng-click="loginAndLink(provider)",ng-show="!user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{provider}}

      .set-username.m-top-1(ng-show='toSetUsername')
        h4 設定 G0V 使用者名稱
        form.m-top-1
          fieldset
            .input-append
              input.tag(style="width:220px;",ng-model="newUsername")
              button.btn(type="submit",ng-click="setUsername(newUsername)") 設定
        .alert.alert-error(ng-show='usernameInUse')
          已有 G0V 成員使用此名稱，請選擇其他使用者名稱
          ul
            li(ng-repeat="(provider, auth) in usernameInUse.auth")
              a.btn(ng-click="loginAndMerge(provider)")
                i(class="icon-{{provider}}")
                | &nbsp; {{provider}}:{{auth.username}}

    #login-block.p-all-p1(ng-show='!user && !toSetUsername')
      h3 登入 G0V
      .well(style="max-width: 400px; margin: 0 auto 10px;")
        button.btn.btn-block(type="button", ng-click="auth.login('facebook', { rememberMe: true, scope: 'email,user_likes' })")
          i.icon-facebook.icon-large
          | &nbsp; 使用 facebook 登入
        button.btn.btn-block(type="button", ng-click="auth.login('github', { rememberMe: true })")
          i.icon-github.icon-large
          | &nbsp; 使用 github 登入
        button.btn.btn-block(type="button", ng-click="auth.login('persona', { rememberMe: true })")
          i.icon-laptop.icon-large
          | &nbsp; 使用 Email 登入

    #logout-block.p-all-p1(ng-show='user || toSetUsername')
      p
        button.btn.btn-block#logout-link(ng-click="auth.logout()") 登出 G0V

  .span8.p-all-p1(style="margin-left:0px;padding-left:0px;")
    form.form-search
      .m-top-1
      input.search-query(ng-model="search",placeholder="Filter by tag...")
    .taglist.row(style="margin-left:30px;margin-bottom:15px;")
      span(ng-repeat="entry in tagcloud")
        span.label.tag(ng-click="$parent.search = entry.tag",ng-mouseenter="toadd=1",ng-mouseleave="toadd=0")
          i.icon-plus(ng-class="{transparent: !toadd}",ng-click="add_tag(user, entry.tag)",ngx-final)
          | {{entry.tag}}
          span.badge.badge-info(style="font-size: smaller") {{entry.count}}
    ul.people-list
      li(ng-repeat="person in people | filter:search")
        .person(ng-class="{{person.status}}")
          div.row
            div.span1.pull-left
              img.img-polaroid(ng-src="{{person.avatar}}?size=medium",width=70)
            div.span6.pull-left
              h4.name {{person.$id}}
              span.label.tag(ng-repeat="tag in person.tags",ng-class="{ 'label-success': tag == 'hackath3n' }",ng-click="gotag(tag)") {{tag}}
