.people(resize,ng-cloak)
  .self
    img(ng-src="http://avatars.io/twitter/{{user.twitter}}?size=large")
    name {{name}}
    form
      span.label(ng-repeat="tag in user.tags") {{tag}}
      input(ng-model="newtag")
      input(type="submit",ng-click="add_tag(user,newtag)",value="add")

  .search
    input(ng-model="search")
  ul
    li(ng-repeat="person in people | filter:search")
      .person(ng-class="{{person.status}}")
        img(ng-src="http://avatars.io/twitter/{{person.twitter}}")
        .name {{name}}
