.row
  .span4.people(resize,ng-cloak)
    .self(ng-show='user')
      img(ng-src="http://avatars.io/twitter/{{user.twitter}}?size=large")
      name {{name}}
      form
        span.label(ng-repeat="tag in user.tags") {{tag}}
        input(ng-model="newtag")
        input(type="submit",ng-click="add_tag(user,newtag)",value="add")
      textarea(ng-model='user.bio')

    #login-block(ng-show='!user')
      h2 Login
      a.btn#facebook-login-link
        i.icon-facebook.icon-large
        | &nbsp; facebook
      a.btn#twitter-login-link
        i.icon-twitter.icon-large
        | &nbsp; twitter
      a.btn#github-login-link
        i.icon-github.icon-large
        | &nbsp; github
    #logout-block(ng-show='user')
      h2 logout option
      p
        span#login-user-info
        a#logout-link logout
    script
      loginCheck()
  .span8
    form.form-search
      input.search-query(ng-model="search")
    ul
      li(ng-repeat="person in people | filter:search")
        .person(ng-class="{{person.status}}")
          .name {{person.name}}
          img(ng-src="http://avatars.io/twitter/{{person.twitter}}")
          span.label.tag(ng-repeat="tag in person.tags") {{tag}}
