.row.people(ng-cloak)
  .span4
    .self(ng-show='user')
      h2.displayName {{user.displayName}}
      .name {{user.username}}
      img.img-polaroid.m-top-1(ng-src="{{ user.avatar }}?size=large",width=210)
      form.m-top-1
        fieldset
          label 關鍵字
          span.label.tag(ng-repeat="tag in user.tags",ng-click="go('/tag/{{tag}}')",ng-mouseenter="toremove=1",ng-mouseleave="toremove=0") 
            | {{tag}}
            a(ng-show="toremove",ng-click="remove_tag(user, tag)")
              i.icon-remove
          .input-append.m-top-p1
            input.tag.span2(ng-model="newtag")
            button.btn(type="submit",ng-click="add_tag(user)") Add
          label 自我介紹
          textarea(ng-model='user.bio')
      h4 連結帳號
      ul.services.unstyled
        li(ng-repeat="provider in ['facebook', 'twitter', 'github']")
          a(ng-href="http://{{provider}}.com/{{user.auth[provider].username}}",ng-show="user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{user.auth[provider].username}}
          a.btn(ng-click="loginAndLink(provider)",ng-show="!user.auth[provider]")
            i(class="icon-{{provider}}")
            | &nbsp; {{provider}}


    .set-username(ng-show='toSetUsername')
      h2 Choose a username:
      form
        input(ng-model="newUsername")
        input(type="submit",ng-click="setUsername(newUsername)",value="Set")
      .alert.alert-error(ng-show='usernameInUse')
        username already in use, choose another one or merge using authenticated service:
        ui
          li(ng-repeat="(provider, auth) in usernameInUse.auth")
            a.btn(ng-click="loginAndMerge(provider)")
              i(class="icon-{{provider}}")
              | &nbsp; {{provider}}:{{auth.username}}


    #login-block.p-all-p1(ng-show='!user && !toSetUsername')
      h4 登入 g0v
      .btn-group
        a.btn#facebook-login-link(ng-click="auth.login('facebook', { rememberMe: true, scope: 'email,user_likes' })")
          i.icon-facebook.icon-large
          | &nbsp; facebook
        a.btn#twitter-login-link(ng-click="auth.login('twitter', { rememberMe: true })")
          i.icon-twitter.icon-large
          | &nbsp; twitter
        a.btn#github-login-link(ng-click="auth.login('github', { rememberMe: true })")
          i.icon-github.icon-large
          | &nbsp; github
    #logout-block.p-all-p1(ng-show='user || toSetUsername')
      p
        span#login-user-info
        a.btn#logout-link(ng-click="auth.logout()") logout
  .span8.p-all-p1
    form.form-search
      .m-top-1
      input.search-query(ng-model="search",placeholder="Filter by tag...")
    ul.unstyled
      li(ng-repeat="person in people | filter:search")
        .person(ng-class="{{person.status}}")
          h4.name {{person.$id}}
          div.row
            div.span1.pull-left
              img.img-polaroid(ng-src="{{person.avatar}}?size=small",width=70)
            div.span6.pull-left
              span.label.tag(ng-repeat="tag in person.tags",ng-class="{ 'label-success': tag == 'hackath3n' }",ng-click="go('/tag/{{tag}}')") {{tag}}
