div(ui-if='!opts.isnew')
  h3 editing
  a.btn(ng-click="opts.editMode=0") Done
div
  h3(ng-if='opts.isnew') 新增專案
  form.m-top-1
    fieldset(ui-if='opts.isnew')
      label Github Project
      input.github-url(ng-model="project['github']")
      span.help-block 輸入 github project url
    fieldset(ng-show='opts.isnew')
      input(type='submit',value='新增',ng-click="saveNew(project)")
