#newprj.modal
  .modal-header
    button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
    h3 新增專案
  .modal-body
    form(style="width:85%;margin: 0 auto")
      fieldset
        label 專案名稱
        input(type="text",ng-model="newprj.name",placeholder="輸入專案名稱，例如：香民關心您")
        label 專案說明
        textarea(ng-model="newprj.desc",placeholder="輸入專案描述，例如：香民關心您是個利用進香來關心鄉民的概念")
        label 勾選參加黑客松期數
        .checkboxs
          label.checkbox(ng-repeat="h in newprj.hackathons")
            input(type="checkbox",ng-model="h.checked")
            | hackath{{$index}}n
        label 連結的 Hackpad 或 Hackfoldr
        input(type="text",ng-model="newprj.url",placeholder="例如：http://hack.g0v.tw/kuansim/mynkDCEAXgc")
  .modal-footer
    #newprj-uploaded
      i.icon-ok
      | 新增完成
    a.btn(href="#",data-dismiss="modal",aria-hidden="true") 取消
    a.btn.btn-primary(ng-click="newprj.submit()") 新增
