div(ng-if='!opts.isnew')
  h3 editing
  a.btn(ng-click="opts.editMode=0") Done
div
  h3(ng-if='opts.isnew') 新增專案
  form.m-top-1
    .alert.alert-error(ng-if='opts.warning',ng-bind='opts.warning')
    fieldset(ng-if='opts.isnew')
      label Github Project
      input.github-url(ng-model="project['github']", pattern="^https:\/\/github.com\/.*[a-zA-Z\d]\/.*[a-zA-Z\d]")
      span.help-block 輸入 github project url ex, https://github.com/g0v/new_project
    fieldset(ng-show='opts.isnew')
      input(type='submit',value='新增',ng-click="saveNew(project)")
