.container
  .row
    .span8
        h1 專案列表
        a.btn(ng-click='newProject()') New
        p {{ people.clkao }}
        article.mod-project(ng-repeat='project in projects | filter:search')
          h2
            a(href='#') {{project.name_zh || project.name}}
            small
              | &nbsp;隸屬&nbsp;
              a(href='#') {{project.project || "XXX" }}
          p {{ project.description_zh }}
          dl.dl-horizontal.mod-project-meta
            dt 專案網址
            dd: a(href='#') http://foo.com/
            dt 專案連結
            dd: .mod-project-links
              ul
                li: a(href='#')
                  i.icon-link
                  | &nbsp;
                  | 網站
                li: a(href='#')
                  i.icon-hackfoldr
                  | &nbsp;
                  | 文件
                li: a(href='#')
                  i.icon-github
                  | &nbsp;
                  | 程式源碼
                li: a(href='#')
                  i.icon-youtube
                  | &nbsp;
                  | 5分鐘瞭解影片
                li: a(href='#')
                  i.icon-trello
                  | &nbsp;
                  | 專案控管

            dt.inline 專案進度
            dd.inline
                span.label 空想
                span.label.label-success 1.0
            dt.inline 專案需求
            dd.inline-last
              span.label.label-important 設計
              | &nbsp;
              span.label.label-important 窗口
            dt(ui-if="project.author") 協調者
            dd(ui-if="project.author")
              a.avatar-link(href='#', data-toggle='tooltip', title='{{project.author}}')
                img.avatar(ng-src='{{avatarFor(project.author)}}')
            dt(ui-if="project.contributors") 參與者
            dd(ui-if="project.contributors")
              a.avatar-link(href='#', data-toggle='tooltip', title='{{user}}', ng-repeat="user in project.contributors")
                img.avatar(ng-src='{{avatarFor(user)}}')
                | &nbsp;
        .pagination
          ul
            li.disabled
              span «
            li.active
              span 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') Next
      .span4
        section.mod-search
          h2 搜尋
          form.form-search
            input.input-medium.search-query(type='text',ng-model="search")
            button.btn(type='submit') Search
        section
            .mod-project
                h2 沒有你關心的議題？
                p Make one now!
                a.btn.btn-large.btn-block(href='#') New Project

        section.mod-featured
          h2 特色推薦
          .mod-project
            a(href='#')
              img(src='http://placehold.it/370x240/9213c7/84ef92')
              h2
                a(href='#') blahblah
              p blahblah
