.container
  .row
    .span8
        h1 專案列表
        a.btn(ng-click='newProject()') New
        p {{ people.clkao }}
        article.mod-project(ng-repeat='project in projects | filter:search')
          h2
            a(href='#') {{project.name_zh || project.name}}
            small
              | &nbsp;隸屬&nbsp;
              a(href='#') {{project.project || "XXX" }}
          p {{ project.description_zh }}
          dl.dl-horizontal.mod-project-meta
            dt 專案網址
            dd
              a(href='#') http://foo.com/
            dt.inline 專案連結
            dd.inline
              .mod-project-links
                a(href='#')
                  img(src='/img/hackfoldr-icon.ico', width='16')
                | &nbsp;
                a(href='#')
                  i.icon-github
                | &nbsp;
                a(href='#')
                  i.icon-youtube
                | &nbsp;
                a(href='#')
                  i.icon-trello
            dt.inline 專案進度
            dd.inline-last
                span.label 空想
                span.label.label-success 1.0
            dt 專案需求
            dd
              span.label.label-important 設計
              | &nbsp;
              span.label.label-important 窗口
            dt(ui-if="project.author") 協調者
            dd(ui-if="project.author")
              a.avatar-link(href='#', data-toggle='tooltip', title='{{project.author}}')
                img.avatar(ng-src='{{avatarFor(project.author)}}')
            dt(ui-if="project.contributors") 參與者
            dd(ui-if="project.contributors")
              a.avatar-link(href='#', data-toggle='tooltip', title='{{user}}', ng-repeat="user in project.contributors")
                img.avatar(ng-src='{{avatarFor(user)}}')
                | &nbsp;
        .pagination
          ul
            li.disabled
              span «
            li.active
              span 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') Next
      .span4
        section.mod-search
          h2 搜尋
          form.form-search
            input.input-medium.search-query(type='text',ng-model="search")
            button.btn(type='submit') Search
        section.mod-featured
          h2 特色推薦
          .mod-project
            a(href='#')
              img(src='http://placehold.it/370x240/9213c7/84ef92')
              h2
                a(href='#') blahblah
              p blahblah
