.row.tag-content(ng-cloak)
  .span4
    h3 專案
      ul
        li(ng-repeat="project in projects")
          .name {{project.name}}
    h3 人群
      ul
        li(ng-repeat="person in people | filter:{tags: tag}")
          .person(ng-class="{{person.status}}")
            .name {{person.username}}
            img(ng-src="{{person.avatar}}?size=small")
            span.label.tag(ng-repeat="tag in person.tags",ng-class="{ 'label-success': tag == 'hackath3n' }",ng-click="go('/tag/{{tag}}')") {{tag}}
  .span8
    h2 關於 {{ tag }}
    #disqus_thread.content-panel-content
