.row.tag-content(ng-cloak)
  .span4
    h3 專案
      ul
        li(ng-click="go('/project/{{project.name}}')",ng-repeat="project in projects | filter:{keywords: tag}")
          .name {{project['name-zh'] || project.name }}
    h3 人群
      ul
        li(ng-repeat="person in people | filter:{tags: tag}")
          .person(ng-class="{{person.status}}")
            img.img-polaroid(ng-src="{{person.avatar}}?size=small")
            .name {{person.username}}
            span.label.tag(ng-repeat="tag in person.tags",ng-class="{ 'label-success': tag == 'hackath3n' }",ng-click="gotag(tag)") {{tag}}
  .span8
    h2 關於 {{ tag }}
    #disqus_thread.content-panel-content
