.tag-content(resize,ng-cloak)
  h2 關於 {{ tag }}
    h3 專案
      ul
        li(ng-repeat="project in projects")
          .name {{project.name}}
    h3 人群
      ul
        li(ng-repeat="person in people | filter:{tags: tag}")
          .person(ng-class="{{person.status}}")
            .name {{person.username}}
            img(ng-src="http://avatars.io/twitter/{{person.twitter}}")
            span.label(ng-repeat="tag in person.tags") {{tag}}
