.hackfolder(ng-controller='HackFolderCtrl', resize)
    .index(ng-class="{collapsed: collapsed}", ng-click="collapsed=!collapsed")
      big 
        &#xbb; 
        a.indexlink(ng-href="http://ethercalc.org/{{hackId}}",target="_blank") {{hackId}} 
        &#xab;  
      small: a.reload(ng-click="reload(hackId)") &#x21BA;
      ul(ui-sortable='sortableOptions', ng-model='docs')
        li(ng-repeat='doc in docs',style="margin: 0; padding: 2px 5px;", ng-bind-title="{{doc.title || doc.id}}")
          a.link(ng-href='/#/{{hackId}}/{{doc.id}}')
            img(ng-src="{{doc.icon}}",ng-attr-title="{{doc.title || doc.id}}")
            | {{doc.title || doc.id}}
    .pad-container(ng-style='{height: height-49}')
      article.pad(ng-repeat='(key, iframe) in iframes',ng-show='docId == key')
        span.docmode(ng-show="hasViewMode(iframe.doc.type) && iframe.mode != 'edit'",ng-click="activate(iframe.doc.id, true)") edit
        iframe.embed(ng-src='{{iframe.src}}')
