.hackfolder(ng-controller='HackFolderCtrl', resize)
    .index
      big 
        &#xbb; 
        a.indexlink(ng-href="http://ethercalc.org/{{hackId}}",target="_blank") {{hackId}} 
        &#xab;  
      small: a.reload(ng-click="reload(hackId)") reload
      ul(ui-sortable='sortableOptions', ng-model='docs')
        li(ng-repeat='doc in docs',style="margin:5px 10px 5px 5px;")
          a.link(ng-href='/#/{{hackId}}/{{doc.id}}',ng-class="{{doc.type}}")
            img(ng-src="{{doc.icon}}")
            |  {{doc.title || doc.id}}
    .pad-container(ng-style='{height: height-49}')
      article.pad(ng-repeat='(key, iframe) in iframes',ng-show='docId == key')
        span.docmode(ng-show="hasViewMode(iframe.doc.type) && iframe.mode != 'edit'",ng-click="activate(iframe.doc.id, true)") edit
        iframe.embed(ng-src='{{iframe.src}}')
