.about
    h1 This is pre-alpha!

h2 Icon attributions
ul.attribution
    li
        a(href='http://thenounproject.com/noun/judge/#icon-No3953', target='_blank') Judge
        | designed by
        a(href='http://thenounproject.com/Luis', target='_blank') Luis Prado
        | from The Noun Project
    li
        a(href='http://thenounproject.com/noun/antenna/#icon-No10279',target='_blank') Antenna
        | designed by
        a(href='http://thenounproject.com/rocavence', target='_blank') Roca Chang
        | from The Noun Project
    li
        a(href='http://thenounproject.com/noun/earth/#icon-No4570', target='_blank') Earth
        | designed by
        a(href='http://thenounproject.com/thibault.geffroy', target='_blank') Thibault Geffroy
        | from The Noun Project
    li
        a(href='http://thenounproject.com/noun/institution/#icon-No1564', target='_blank') Institution
        | designed by
        a(href='http://thenounproject.com/thibault.geffroy', target='_blank') Thibault Geffroy
        | from The Noun Project
